@font-face {
	font-style: normal;
	src: url("times.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-style: italic;
	src: url("timesi.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-weight: bold;
	src: url("timesbd.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-weight: bold;
	font-style: italic;
	src: url("timesbi.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	src: url("DejaVuSans.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

body {
	font-family: "Times New Roman";
	padding: 0;
	margin: 0;
}

.header {
	border-bottom: 1pt solid black;
	text-overflow: ellipsis;
	white-space:   nowrap;
	overflow:      hidden;
	margin-bottom: 1em;
}

.footer {
	white-space:   nowrap;
    overflow:      hidden;
    text-align:    center;
}

.question {
	padding-top:       0.7em;
	margin-bottom:     0.7em;
	page-break-inside: avoid;
}

.question-no {
	font-size: 2em;
	line-height: 10%;
}

.variant-no {
	
}

.question-text {
	margin-bottom: 0.5em;
}

.question-description {
	font-style:    italic;
	font-size:     0.8em;
	margin-top:    0.8em;
	margin-bottom: 0.8em;
}

.content {
    overflow: hidden;
}

.square {
	font-family: "DejaVu Sans", serif;
}

.question-choice {
	margin-bottom: 0.5em;
}

.answers-variant-title {
	
}

.page-breaker {
	page-break-after: always;
}

.scq-answer {
	font-size:   15pt;
	display:     inline-block;
	width:       60pt;
	white-space: nowrap;
}