/** Add css rules here for your application. */

body {
	font: 14px tahoma, arial, verdana, sans-serif;
	margin: 0px;
}

.report {
	font-family: Sans-Serif;
}
.reportTestTitle {
	text-align: center;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.reportTaskTitle {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 0em;
}
.reportTitle {
	text-align: center;
	font-size: 1em;
}
.reportScore {
	margin-bottom: 0.5em;
}
.reportIncorrect {
	font-weight: bold;
}
.reportTaskText {
	margin-bottom: 0.5em;
}
.reportTaskDescription {
	margin-bottom: 0.5em;
	font-style: italic;
}

.reportChoice {
	padding-left: 0.5em;
}

.reportChoiceNo {
	vertical-align: top;
}

.repotVariants {
	margin-bottom: 0.5em;
}
.reportTask {
	margin-bottom: 0.5em;
	font-size: 1em;
}
.reportStudentName {
	font-weight: bold;
	margin-bottom: 0.5em;
}	
.reportAnswerKind {
	vertical-align: top;
	text-align: right;
	font-weight: bold;
}	

