@CHARSET "UTF-8";

@page {
    margin-left:   50pt;
    margin-right:  50pt;
    margin-top:    50pt;
    margin-bottom: 50pt;
}

body {
    /*font-family: Arial, Verdana, Sans Serif;*/
     /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: serif;
    font-size:   14px;
}

.header {
    border-bottom:  1px solid black;
    text-overflow:  ellipsis;
    white-space:    nowrap;
    overflow:       hidden;
    margin-bottom:  14px;
}

.question {
    padding-top:   14px;
    margin-bottom: 28px;
    page-break-inside: avoid;   
}

.footer {
    text-align: center;
}

.question-no {
    font-size: 200%;
    line-height: 10%;
}

.variant-no {

}

.question-text {
    margin-bottom: 12px;
}

.question-description {
    font-style:    italic;
    font-size:     12px;   
    margin-top:    12px;
    margin-bottom: 12px;
}

.questions-area {
    height:   840px;
    overflow: hidden;
}

.question-choice {  
    margin-bottom: 8px;
}

.title-page {

}

.answers-variant-title {
    
}

.page-breaker {
    page-break-after: always;
}

.scq-answer {
    font-size:   150%;
    display:     inline-block;
    width:       70px;
    white-space: nowrap;
}