@CHARSET "UTF-8";

@page {
    margin-left:   50pt;
    margin-right:  50pt;
    margin-top:    50pt;
    margin-bottom: 50pt;
}

body {
    font-family: Arial, Verdana, Sans Serif;
    font-size:   16px;
}

.header {
    border-bottom:  1px solid black;
    text-overflow:  ellipsis;
    white-space:    nowrap;
    overflow:       hidden;
    margin-bottom:  16px;
}

.question {
    padding-top:   16px;
    margin-bottom: 32px;
    page-break-inside: avoid;   
}

.footer {
    text-align: center;
}

.question-no {
    font-size: 200%;
    line-height: 10%;
}

.variant-no {

}

.question-description {
    font-style:    italic;
    font-size:     11px;   
    margin-top:    11px;
    margin-bottom: 11px;
}

.questions-area {
    height:   850px;
    overflow: hidden;
}

.question-choice {  
    margin-bottom: 11px;
}

.title-page {

}

.answers-variant-title {
    
}

.page-breaker {
    page-break-after: always;
}

.scq-answer {
    font-size:   150%;
    display:     inline-block;
    width:       80px;
    white-space: nowrap;
}